{{> mainHeader}}
<article>
  <div class="container containerWaiter">
    <div class="row waiterRow">
      <div class="col-12 col-md-6">
        <div class="tablesLayout">

          <h1> To be prepared</h1>
          <div>
            <ul class="List">
              {{#each dishes}}
              {{#unless isReady}}
              <li class="list-group-item line orderedDish dishTitle" style="display:block">
                <p> {{this.title}}<button class="orderButton submitBtn" data-id="{{this.dishId}}"
                    data-table_id="{{this.tableId}}" data-status="{{this.isReady}}">READY</button></p>
              </li>
              {{else}}
              {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

        <div class="col-12 col-md-6">
          <div class="menu">
          <h1>Ready</h1>
          <div>
            <ul class="List">
              {{#each dishes}}
              {{#if isReady}}
              <li class="list-group-item line orderedDish" data-id="{{this.dishId}}" data-table_id="{{this.tableId}}"
                data-status="{{this.isReady}}" style="display:block">
                <p style="text-align: center;"> {{this.title}}</p>
              </li>
              {{else}}
              {{/if}}
              {{/each}}
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

</article>

<script type="text/javascript" src="/assets/js/chef.js"></script>