{{> ingredientsHeader}}
<article>
  <div class="container containerWaiter">
    <div class="row waiterRow">
      <div class="col-12 col-lg-6">
        <div class="tablesLayout">
          <h1> Low Stock</h1>
          <div>
            <ul class="List">
              {{#each lowStock}}
              <li class="list-group-item line dishTitle" data-id="{{id}}">
                <text>{{name}}</text>
                <img class="{{name}}">
                <button class="orderButton submitBtn" data-id="{{id}}">ORDER</button>
                <text class="quantity">{{quantity}}</text>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="menu">
          <h1>In Stock</h1>
          <div>
            <ul class="List">
              {{#each inStock}}
              <li class="list-group-item line" data-id="{{id}}">
                <text>{{name}}</text><text class="quantity">{{quantity}}</text>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>

<script type="text/javascript" src="/assets/js/ingredients.js"></script>
<script type="text/javascript" src="/assets/js/getIcons.js"></script>