{{> mainHeader}}
{{!-- Define the container --}}
<article>
    <div class="container containerWaiter">
        <div class="row waiterRow">
            <div class="col-12 col-lg-6">
                <div class="tablesLayout">
                    <h1>Tables</h1>
                    <div class="actualTables">

                        {{!-- Display the tables --}}
                        <div class="restaurantTables tables" style="display: flex; flex-wrap: wrap;">
                            {{#each tables}}
                            <div class="table restaurantTable available{{this.isAvailable}}" data-id="{{this.id}}"
                                style="width: {{this.dimension.width}}px; height: {{this.dimension.height}}px">
                                <button type="button" class="btn btn-primary tableBtn tbl1"
                                    data-id="{{this.id}}">{{this.id}}</button>
                                <button type="button" class="submitBtn availableBtn"
                                    data-id="{{this.id}}">available</button>
                            </div>
                            {{/each}}

                        </div>

                        {{!-- Display the table order --}}
                        <div>
                            {{#each tables}}
                            <h4 class="order{{id}} orderTitle" style="display: none;">Order for table: {{id}}
                            </h4>
                            {{/each}}
                            {{#each tableOrders}}
                            {{#if tableId }}
                            <ul class="waiterList order{{tableId}} orderBody orderBody{{tableId}}" style="display: none;">
                                <li class="list-group-item orderedDish ready{{isReady}} line" data-id="{{dishId}}"
                                    data-tableId="{{tableId}}" data-status="{{isReady}}">
                                    {{title}}</li>
                            </ul>
                            {{/if}}
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>

            {{!-- Display the Menu --}}
            <div class="col-12 col-lg-6">
                <div class="menu">
                    <h1>Menu</h1>
                    <div>
                        <ul class="List">
                            {{#each dishes}}
                            <li class="list-group-item menuDish line" data-id="{{this.id}}">{{title}} {{price}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</article>



<script type="text/javascript" src="assets/js/waiters.js"></script>